<html>
<head>
    <title>Weather Monitoring System| CSIR-CIMFR</title>
    <style>
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static '/css/w3.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap-datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static '/css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static '/css/dataTable.css' %}">
    <link rel="stylesheet" href="{% static '/css/custom_style.css' %}">


    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/dataTable.js' %}"></script>
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">

           &nbsp;&nbsp;&nbsp;&nbsp;<img class="logo-img" src="{% static '/image/cimfr_logo.jpg' %}" width="50" height="50"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </div>
         <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="/">Home |</a></li>
             <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sensor Management<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'wm_test:setting' %}">Setting</a></li>
                        <li><a href="{% url 'wm_test:add_sensor' %}">Add Sensor</a></li>
                        <li><a href="{% url 'wm_test:manage_sensor' %}">Manage Sensor</a></li>
                    </ul>
             </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Customise Report<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'wm_test:live_report' %}">Live Report</a></li>
                        <li><a href="{% url 'wm_test:show_sensor_graph' %}">Live Report Graph</a></li>
                        <li><a href="{% url 'wm_test:sensor_hourly_report' %}">Sensor Hourly Report</a></li>
                        <li><a href="{% url 'wm_test:show_sensor_hourly_report_graph' %}">Sensor Hourly Report Graph</a></li>
                        <li><a href="{% url 'wm_test:hour_duration_avg_report' %}">Hour Duration Avg Report</a></li>
                        <li><a href="{% url 'wm_test:show_hour_duration_avg_report_graph' %}">Hour Duration Avg Report Graph</a></li>
                        <li><a href="{% url 'wm_test:date_and_hour_duration_avg_report' %}">Date And Hour Duration Avg Report</a></li>
                        <li><a href="{% url 'wm_test:show_date_and_hour_duration_avg_report_graph' %}">Date And Hour Duration Avg Report Graph</a></li>
                    </ul>
            </li>
             <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Wind Rose<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="{% url 'wm_test:live_report' %}">Live Report</a></li> -->
                        <li><a href="{% url 'wm_test:wind_hourly_report' %}">Wind Hourly Report</a></li>
                        <li><a href="{% url 'wm_test:frequency_distribution_count_report' %}">Frequency Count</a></li>
                        <li><a href="{% url 'wm_test:frequency_distribution_normalized_report' %}">Frequency Distribution</a></li>
                        <li><a href="{% url 'wm_test:show_frequency_distribution_reportnormalised_bar_graph' %}">Frequency Distribution Bar Graph</a></li>
                        <li><a href="{% url 'wm_test:show_windrose_diagram' %}">Windrose Diagram</a></li>
                    </ul>
            </li>

        </ul>
         <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-user"></span> Welcome! {{user.username }} <strong
                                class="caret"></strong></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/admin/password_change/"><span class="glyphicon glyphicon-refresh"></span>
                                Change Password </a></li>
                            <li class="divider"></li>
                            <li><a href="/accounts/logout"><span class="glyphicon glyphicon-off"></span> Logout </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
             </ul>

    </div>
</nav>
<style>
    .navbar{
        border-radius: 0px; !important;
        background-color:#23a87c;!important;
    }
 .dropdown a:hover{    color: #F39C12;}



</style>
<script>
    $('ul.nav li.dropdown').hover(function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});
</script>
<div id="content">
    {% block content %}
    {% endblock %}
</div><!-- content -->

</body>
</html>