/*
Custom Style For Accounts
*/
.navbar-brand-login{color:#fff !important; text-shadow: 0px 1px #fff;}
.link-color{color:#fff !important;}
.abc{background-image:padding-bottom: 20px; background: url('../image/login_bg.jpg') no-repeat center center; background-size: cover;}
