{% extends "base.html" %}
{% block content %}
<style>
    .margin_top{
     margin-top: 15px;
    }
</style>
<div class="container">
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    
    <div class="row">
        <section class="col-md-12">
            <h1 class="page-header">Hour Duration Avg Report Graph</h1>
            <div class="form-border">
                <div class="row">

                    <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}

                        <br><br>

                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="from_date" class="" >Date</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control datepicker" id="date">
                                    </div>
                                </div>
                            
                            </div>
                        <br/><br/>
                        <br/><br/>
                        <div class="form-group col-md-12">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <input class="btn btn-primary" type="button" id="id_show" value="Show"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div><!--end Table content -->
        </section>
    </div>
</div>


<br>
<br>

<div class="container">
    <div class="row">
        <section class="col-md-12">
            <!-- Table content -->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="content">
              <tbody id="results"></tbody>
                        </table>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <!--end Table content -->
        </section>
  </div>
</div>

<style>
    fieldset.scheduler-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}
fieldset ul {list-style:none}

.form-border{
      box-sizing: border-box;
  border: 2px solid #DDD;
  border-radius: 4px;
      padding: 0 30px 10px 30px;
}
</style>
    </div>
</div>
<div class="container-fluid">
   <div id="graphDiv1"></div>
   <div id="graphDiv2"></div>
   <div id="graphDiv3"></div>
   <div id="graphDiv4"></div>
   <div id="graphDiv5"></div>
   <div id="graphDiv6"></div>
   <div id="graphDiv7"></div>
   <div id="graphDiv"></div>
</div>
<div id="graphDiv1"></div>
<div id="graphDiv2"></div>
<div id="graphDiv3"></div>
<div id="graphDiv4"></div>
<div id="graphDiv5"></div>
<div id="graphDiv6"></div>
<div id="graphDiv7"></div>
<div id="graphDiv"></div>
<div class="text-center">
    <input class="btn btn-primary"hidden onclick="myFunction()" type="button" id="id_print" value="Print"/>
        </div>
        <br>
        <br>
        <br>
<div id="a">
</div>


</style>


<script>
 $('#my').click(function()
                    {
    alert('9\xB0');
    });
$(function() {
    $( "#date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2020",
      // You can put more options here.

    });
  });

$(function() {
    $( "#date" ).datepicker({
      format: 'dd-mm-yyyy'
      // You can put more options here.

    });
  });



$("#id_show").click(function(){
 var date =$('#date').val();
 // var time1=$('#time1').val();
 // var time2=$('#time2').val();

 var split_date1 =date.split("/");
 var year1 = split_date1[2];
 var month1 = split_date1[0];
 var day1 = split_date1[1];
 var newDate = year1 + "-" + month1 + "-" + day1;
 //alert(time1);
 //alert(time2);
 // var tym=00;
 // var newTime1 = time1 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 // var newTime2 = time2 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 //alert(newDate);
 //alert(newTime1);
 //alert(newTime2);  
  var layout = {
  title: {
    text:'RAINFALL',
    font: {
      size: 24,
      color: '#56F1DF'
    },
  },  
  xaxis: {
    title: {
      text: 'time',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    },
  },
  yaxis: {
    title: {
      text: 'mm',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
                $.ajax({
                    url: "{% url 'wm_test:fetch_show_hour_duration_avg_report_graph_ajax' %}",
                data: {
                         'from_date':newDate,
                       },
                    success: function(data) {
                      data=data.result;
                      console.log(data);
                      var GraphdataX=[];
                      var GraphdataY=[];
                      
                      
                      
                      for(i=0;i<=24;i++){
                        GraphdataX.push(newDate+" "+i+":00");
                      }
                      data=data[0];
                      for (d in data) {
                          sensor=data[d];
                          sensor=sensor[0];
                          console.log(sensor)
                          GraphdataY.push(sensor[1]);
                          
                          
                      
                      }
                      // console.log(GraphdataX);
                      // console.log(GraphdataY1);
                    

                        Plotly.newPlot('graphDiv1', [{
                            x: GraphdataX,
                            y: GraphdataY,
                            showlegend: true,
                            mode: 'lines',
                            name:"RAINFALL",
                            line: {color: '#56F1DF'}   
                          }], layout);

                        $("#id_print").show();    
                      }
                      
                    
                });
     

   });
 </script>

 

 <script>
 $("#id_show").click(function(){
 var date =$('#date').val();
 // var time1=$('#time1').val();
 // var time2=$('#time2').val();

 var split_date1 =date.split("/");
 var year1 = split_date1[2];
 var month1 = split_date1[0];
 var day1 = split_date1[1];
 var newDate = year1 + "-" + month1 + "-" + day1;
 //alert(time1);
 //alert(time2);
 // var tym=00;
 // var newTime1 = time1 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 // var newTime2 = time2 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 //alert(newDate);
 //alert(newTime1);
 //alert(newTime2);  
  var layout = {
  title: {
    text:'HUMIDITY',
    font: {
      size: 24,
      color: '#CE0048'
    },
  },  
  xaxis: {
    title: {
      text: 'time',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    },
  },
  yaxis: {
    title: {
      text: 'percentage',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
                $.ajax({
                    url: "{% url 'wm_test:fetch_show_hour_duration_avg_report_graph_ajax' %}",
                data: {
                         'from_date':newDate,
                       },
                    success: function(data) {
                      data=data.result;
                      console.log(data);
                      var GraphdataX=[];
                      var GraphdataY=[];
                      
                      
                      
                      for(i=0;i<=24;i++){
                        GraphdataX.push(newDate+" "+i+":00");
                      }
                      data=data[0];
                      for (d in data) {
                          sensor=data[d];
                          sensor=sensor[0];
                          console.log(sensor)
                          GraphdataY.push(sensor[2]);
                          
                          
                      
                      }
                      // console.log(GraphdataX);
                      // console.log(GraphdataY1);
                    

                        Plotly.newPlot('graphDiv2', [{
                            x: GraphdataX,
                            y: GraphdataY,
                            showlegend: true,
                            mode: 'lines',
                            name:"HUMIDITY",
                            line: {color: '#CE0048'}   
                          }], layout);

                        $("#id_print").show();
                            
                      }
                      
                    
                });
     

   });
 </script> 

 <script>
 $("#id_show").click(function(){
 var date =$('#date').val();
 // var time1=$('#time1').val();
 // var time2=$('#time2').val();

 var split_date1 =date.split("/");
 var year1 = split_date1[2];
 var month1 = split_date1[0];
 var day1 = split_date1[1];
 var newDate = year1 + "-" + month1 + "-" + day1;
 //alert(time1);
 //alert(time2);
 // var tym=00;
 // var newTime1 = time1 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 // var newTime2 = time2 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 //alert(newDate);
 //alert(newTime1);
 //alert(newTime2);  
  var layout = {
  title: {
    text:'TEMPERATURE',
    font: {
      size: 24,
      color: '#F41A25'
    },
  },  
  xaxis: {
    title: {
      text: 'time',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    },
  },
  yaxis: {
    title: {
      text: 'celvin',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
                $.ajax({
                    url: "{% url 'wm_test:fetch_show_hour_duration_avg_report_graph_ajax' %}",
                data: {
                         'from_date':newDate,
                       },
                    success: function(data) {
                      data=data.result;
                      console.log(data);
                      var GraphdataX=[];
                      var GraphdataY=[];
                      
                      
                      
                      for(i=0;i<=24;i++){
                        GraphdataX.push(newDate+" "+i+":00");
                      }
                      data=data[0];
                      for (d in data) {
                          sensor=data[d];
                          sensor=sensor[0];
                          console.log(sensor)
                          GraphdataY.push(sensor[3]);
                          
                          
                      
                      }
                      // console.log(GraphdataX);
                      // console.log(GraphdataY1);
                    

                        Plotly.newPlot('graphDiv3', [{
                            x: GraphdataX,
                            y: GraphdataY,
                            showlegend: true,
                            mode: 'lines',
                            name:"TEMPERATURE",
                            line: {color: '#F41A25'}   
                          }], layout);

                        $("#id_print").show();
                            
                      }
                      
                    
                });
     

   });
 </script>

 <script>
 $("#id_show").click(function(){
 var date =$('#date').val();
 // var time1=$('#time1').val();
 // var time2=$('#time2').val();

 var split_date1 =date.split("/");
 var year1 = split_date1[2];
 var month1 = split_date1[0];
 var day1 = split_date1[1];
 var newDate = year1 + "-" + month1 + "-" + day1;
 //alert(time1);
 //alert(time2);
 // var tym=00;
 // var newTime1 = time1 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 // var newTime2 = time2 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 //alert(newDate);
 //alert(newTime1);
 //alert(newTime2);  
  var layout = {
  title: {
    text:'WIND SPEED',
    font: {
      size: 24,
      color: '#9256F1'
    },
  },  
  xaxis: {
    title: {
      text: 'time',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    },
  },
  yaxis: {
    title: {
      text: 'm/s',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
$.ajax({
                    url: "{% url 'wm_test:fetch_show_hour_duration_avg_report_graph_ajax' %}",
                data: {
                         'from_date':newDate,
                       },
                    success: function(data) {
                      data=data.result;
                      console.log(data);
                      var GraphdataX=[];
                      var GraphdataY=[];
                      
                      
                      
                      for(i=0;i<=24;i++){
                        GraphdataX.push(newDate+" "+i+":00");
                      }
                      data=data[0];
                      for (d in data) {
                          sensor=data[d];
                          sensor=sensor[0];
                          console.log(sensor)
                          GraphdataY.push(sensor[4]);
                          
                          
                      
                      }
                      // console.log(GraphdataX);
                      // console.log(GraphdataY1);
                    

                        Plotly.newPlot('graphDiv4', [{
                            x: GraphdataX,
                            y: GraphdataY,
                            showlegend: true,
                            mode: 'lines',
                            name:"WIND SPEED",
                            line: {color: '#9256F1'}   
                          }], layout);

                        $("#id_print").show();
                            
                      }
                      
                    
                });
     

   });
 </script>

 <script>
 $("#id_show").click(function(){
 var date =$('#date').val();
 // var time1=$('#time1').val();
 // var time2=$('#time2').val();

 var split_date1 =date.split("/");
 var year1 = split_date1[2];
 var month1 = split_date1[0];
 var day1 = split_date1[1];
 var newDate = year1 + "-" + month1 + "-" + day1;
 //alert(time1);
 //alert(time2);
 // var tym=00;
 // var newTime1 = time1 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 // var newTime2 = time2 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 //alert(newDate);
 //alert(newTime1);
 //alert(newTime2);  
  var layout = {
  title: {
    text:'WIND DIRECTION',
    font: {
      size: 24,
      color: '#68F156'
    },
  },  
  xaxis: {
    title: {
      text: 'time',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    },
  },
  yaxis: {
    title: {
      text: 'degree',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
                $.ajax({
                    url: "{% url 'wm_test:fetch_show_hour_duration_avg_report_graph_ajax' %}",
                data: {
                         'from_date':newDate,
                       },
                    success: function(data) {
                      data=data.result;
                      console.log(data);
                      var GraphdataX=[];
                      var GraphdataY=[];
                      
                      
                      
                      for(i=0;i<=24;i++){
                        GraphdataX.push(newDate+" "+i+":00");
                      }
                      data=data[0];
                      for (d in data) {
                          sensor=data[d];
                          sensor=sensor[0];
                          console.log(sensor)
                          GraphdataY.push(sensor[5]);
                          
                          
                      
                      }
                      // console.log(GraphdataX);
                      // console.log(GraphdataY1);
                    

                        Plotly.newPlot('graphDiv5', [{
                            x: GraphdataX,
                            y: GraphdataY,
                            showlegend: true,
                            mode: 'lines',
                            name:"WIND DIRECTION",
                            line: {color: '#68F156'}   
                          }], layout);

                        $("#id_print").show();
                            
                      }
                      
                    
                });
     

   });
 </script>

<script>
 $("#id_show").click(function(){
 var date =$('#date').val();
 // var time1=$('#time1').val();
 // var time2=$('#time2').val();

 var split_date1 =date.split("/");
 var year1 = split_date1[2];
 var month1 = split_date1[0];
 var day1 = split_date1[1];
 var newDate = year1 + "-" + month1 + "-" + day1;
 //alert(time1);
 //alert(time2);
 // var tym=00;
 // var newTime1 = time1 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 // var newTime2 = time2 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 //alert(newDate);
 //alert(newTime1);
 //alert(newTime2);  
  var layout = {
  title: {
    text:'PM2.5    PM10<br>(Gases)</br>',
    font: {
      size: 24,
      color: ''
    },
  },  
  xaxis: {
    title: {
      text: 'time',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    },
  },
  yaxis: {
    title: {
      text: 'ug/m3',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
                $.ajax({
                    url: "{% url 'wm_test:fetch_show_hour_duration_avg_report_graph_ajax' %}",
                data: {
                         'from_date':newDate,
                       },
                    success: function(data) {
                      data=data.result;
                      console.log(data);
                      var GraphdataX=[];
                      var GraphdataY1=[];
          var GraphdataY2=[];
                      
                      
                      
                      for(i=0;i<=24;i++){
                        GraphdataX.push(newDate+" "+i+":00");
                      }
                      data=data[0];
                      for (d in data) {
                          sensor=data[d];
                          sensor=sensor[0];
                          console.log(sensor)
                          GraphdataY1.push(sensor[6]);
        GraphdataY2.push(sensor[7]);
                          
                          
                      
                      }
                      // console.log(GraphdataX);
                      // console.log(GraphdataY1);
                    

                        Plotly.newPlot('graphDiv6', [{
                            x: GraphdataX,
                            y: GraphdataY1,
                            showlegend: true,
                            mode: 'lines',
                            name:"PM2.5",
                            line: {color: '#9E3D64'}
        }, {
          x: GraphdataX,
                            y: GraphdataY2,
                            showlegend: true,
                            mode: 'lines',
                            name:"PM10",
                            line: {color: '#4737AD'}   
                          }], layout);

                        $("#id_print").show();
                            
                      }
                      
                    
                });
     

   });
 </script>


 <script>
$("#id_show").click(function(){
 var date =$('#date').val();
 // var time1=$('#time1').val();
 // var time2=$('#time2').val();

 var split_date1 =date.split("/");
 var year1 = split_date1[2];
 var month1 = split_date1[0];
 var day1 = split_date1[1];
 var newDate = year1 + "-" + month1 + "-" + day1;
 //alert(time1);
 //alert(time2);
 // var tym=00;
 // var newTime1 = time1 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 // var newTime2 = time2 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 //alert(newDate);
 //alert(newTime1);
 //alert(newTime2);
  var layout = {
  title: {
    text:'SO2    NO2<br>(Gases)</br>',
    font: {
      size: 24,
      color: ''   
    },
  },    
  xaxis: {
    title: {
      text: 'time',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    },
  },
  yaxis: {
    title: {
      text: 'ug/m3',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
  
                $.ajax({
                    url: "{% url 'wm_test:fetch_show_hour_duration_avg_report_graph_ajax' %}",
                data: {
                         'from_date':newDate,
                       },
                    success: function(data) {
                      data=data.result;
                      console.log(data);
                      var GraphdataX=[];
                      var GraphdataY1=[];
                      var GraphdataY2=[];
                      
                      
                      
                      for(i=0;i<=24;i++){
                        GraphdataX.push(newDate+" "+i+":00");
                      }
                      data=data[0];
                      for (d in data) {
                          sensor=data[d];
                          sensor=sensor[0];
                          console.log(sensor)
                          GraphdataY1.push(sensor[8]);
                          GraphdataY2.push(sensor[9]);
                          
                          
                      
                      }
                      // console.log(GraphdataX);
                      // console.log(GraphdataY1);
                    

                        Plotly.newPlot('graphDiv7', [{
                            x: GraphdataX,
                            y: GraphdataY1,
                            showlegend: true,
                            mode: 'lines',
                            name:"SO2",
                            line: {color: '#80CAF6'}   //here calling of above these define fn. in two(graphdiv,data and layout);
                          }, {
                            x: GraphdataX,
                            y: GraphdataY2,
                            showlegend: true,
                            mode: 'lines',
                            name:"NO2",
                            line: {color: '#DF56F1'}
                           
                          }], layout);

                        $("#id_print").show();
                      }
                      
                    
                });
     
  });
</script>  

<script>
 $("#id_show").click(function(){
 var date =$('#date').val();
 // var time1=$('#time1').val();
 // var time2=$('#time2').val();

 var split_date1 =date.split("/");
 var year1 = split_date1[2];
 var month1 = split_date1[0];
 var day1 = split_date1[1];
 var newDate = year1 + "-" + month1 + "-" + day1;
 //alert(time1);
 //alert(time2);
 // var tym=00;
 // var newTime1 = time1 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 // var newTime2 = time2 + ":" + tym+tym+":"+tym+tym+"."+tym+tym+tym+tym+tym+tym;
 //alert(newDate);
 //alert(newTime1);
 //alert(newTime2);  
  var layout = {
  title: {
    text:'CO<br>(Gas)</br>',
    font: {
      size: 24,
      color: ''
    },
  },  
  xaxis: {
    title: {
      text: 'time',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    },
  },
  yaxis: {
    title: {
      text: 'mg/m3',
      font: {
        size: 18,
        color: '#7f7f7f'
      }
    }
  }
};
                $.ajax({
                    url: "{% url 'wm_test:fetch_show_hour_duration_avg_report_graph_ajax' %}",
                data: {
                         'from_date':newDate,
                       },
                    success: function(data) {
                      data=data.result;
                      console.log(data);
                      var GraphdataX=[];
                      var GraphdataY=[];
                      
                      
                      
                      for(i=0;i<=24;i++){
                        GraphdataX.push(newDate+" "+i+":00");
                      }
                      data=data[0];
                      for (d in data) {
                          sensor=data[d];
                          sensor=sensor[0];
                          console.log(sensor)
                          GraphdataY.push(sensor[10]);
                          
                          
                      
                      }
                      // console.log(GraphdataX);
                      // console.log(GraphdataY1);
                    

                        Plotly.newPlot('graphDiv', [{
                            x: GraphdataX,
                            y: GraphdataY,
                            showlegend: true,
                            mode: 'lines',
                            name:"CO",
                            line: {color: '#F08080'}  
                          }], layout);

                        $("#id_print").show();
                            
                      }
                      
                    
                });
     

   });   
  
function myFunction() {
  window.print();
}



</script>

</body>
</html>   

</script>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>

{% endblock %}
